body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header { 
 background-color: black;
    padding: 0.5rem 0;
    color: white;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

button {
    border-radius: 1px;
    display:inline-block;
    align-items: center;
    margin-left: 0.5rem ;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: whitesmoke;
}

.nav-links a {
    color: #ccd6f6;
    text-decoration: none;
    margin-left: 1rem;
    
}

.button1 {
    background-color: #1b1717;
}
.nav-links {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #4a4a4a;
}

.hero-text p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
}

.hero-image {
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
        .hero {
            flex-direction: column;
            text-align: center;
        }
}

.achievements {
    padding: 5rem;
    text-align: center;
    min-height: 300px;
    background-color: black;
    color: aliceblue;
}

.achievements-list {
    display:flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    text-align: center;
    
}

.achievements-list span {
    background-color: rgb(65, 48, 48);
    padding: 1rem 3rem;
    border-radius: 30px;
}

.Skills {
    padding: 5rem;
    text-align: center;
    min-height: 250px;
    background-color: whitesmoke;
}

.skills-list{
    display: flex;
    justify-content:center;
    gap: 1rem;
    margin-top: 5rem;
    
}

.skills-list span {
    background-color: rgba(4, 4, 4, 0.133);
    padding: 1rem 1rem;
    border-radius: 5px;
    border-color: #090909;
    
}

.about-me {
    padding: 4rem;
    background-color: black;
    min-height: 250px;
    color: aliceblue;
}

.about-me h2{
    text-align: center;
    margin-bottom: 2rem;
}

.Contacts {
    padding: 2rem;
    text-align: center;
    min-height: 250px;
    background-color: whitesmoke;
}

.contact {
    display:flexbox;
    justify-content: right;
    gap: 1rem;
    margin-top: 2rem;
    color: aliceblue;
}

.Socials {
    display: flexbox;
    justify-content: right;
    gap: 2rem;
    padding: 50px;
}

.S {
    display: flexbox;
    justify-content: right;
    gap: 2rem;
    padding: 50px;
    color: rgb(16, 4, 4);
}
